<footer>
  <div class="d-flex justify-content-center footer-div">
    <h6 class="footer-links"><a href="https://github.com/hannahintech"><i class="fa fa-copyright" aria-hidden="true"></i> hannahintech</a><h6>
    <h5 class="footer-links"><a href="https://github.com/hannahintech"><i class="fa fa-github" aria-hidden="true"></i></a></h5>
    <h5 class="footer-links"><a href="https://twitter.com/hannahintech"><i class="fa fa-twitter" aria-hidden="true"></i></a></h5>
    <%# <a class="footer-links" href="#">email me here</a> %>
  </div>
</footer>
