<footer>
  <div class="d-flex justify-content-center footer-div">
    <a class="footer-links" href="#">find me on github</a>
    <a class="footer-links" href="#">find me on twitter</a>
    <a class="footer-links" href="#">email me here</a>
  </div>
</footer>
