<div class="jumbotron jumbotron-fluid jumbotron-home">
  <div class="container">
    <h1 class="display-4">cyber closet</h1>
    <p class="lead">helping you get dressed<i class="fa fa-android" aria-hidden="true"></i></p>
  </div>
</div>
