<div class="jumbotron jumbotron-fluid jumbotron-home">
  <div class="container">
    <a class="nav-link" href="/"><h1 class="display-4">Cyber</h1>
    <h1 class="display-4">Closet</h1></a>
    <p class="lead">This is an app that helps you chose an outfit!</p>
  </div>
</div>
