<nav>
  <ul class="nav header-nav">
    <li class="nav-item nav-outlier">
      <a class="nav-link" href="/">Home</a>
    </li>
    <% if (locals.isLoggedIn) { %>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
    <% } else { %>
    <li class="nav-item">
      <a class="nav-link" href="/login">Log In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>
    <% } %>
  </ul>
</nav>
