<div class="container index-page">

  <div class="row">
    <div class="col">
    <% if (locals.isLoggedIn) { %>
      <a href="/items/new" class="btn btn-outline-primary btn-lg btn-block homepage-button">add an item</a>
      <a href="/outfits/new" class="btn btn-outline-primary btn-lg btn-block homepage-button">create an outfit</a>
    <% } %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="/outfits" class="btn btn-outline-success btn-lg btn-block homepage-button homepage-outfit-button">browse outfits</a>
      <a href="/items" class="btn btn-outline-success btn-lg btn-block homepage-button">browse items</a>
      <% if (!locals.isLoggedIn) { %>
        <a href="/login" class="btn btn-outline-primary btn-lg btn-block">Log in</a>
        <a href="/register" class="btn btn-outline-danger btn-lg btn-block">Sign up to create your own!</a>
      <% } %>
    </div>
  </div>

</div>
