
<div>
  <div class="container">
    <div class="row centered-content">
      <a href="/generate-outfit" class="btn btn-outline-success btn-lg">Generate Outfit</a>
    </div>
  </div>
  <div class="container">
    <div class="row centered-content">
        <a href="/index" class="btn btn-outline-primary btn-lg">View posted outfits</a>
    </div>
  </div>
  <% if (!locals.isLoggedIn) { %>
  <div class="container">
    <div class="row centered-content">
      <a href="/register" class="btn btn-outline-danger btn-lg">Sign up to save your own!</a>
    </div>
  </div>
  <% } %>
</div>
