
<div class="centered-content">
  <%# <div class="container">
    <a href="/generate-outfit" class="btn btn-outline-success btn-lg">Generate Outfit</a>
  </div> %>
  <div class="container">
    <a href="/index" class="btn btn-outline-primary btn-lg">View posted outfits</a>
  </div>
  <% if (locals.isLoggedIn) { %>
  <div class="container">
    <a href="/add-item" class="btn btn-outline-secondary btn-lg">(temporary) add item</a>
  </div>
  <% } %>
  <% if (!locals.isLoggedIn) { %>
  <div class="container">
    <a href="/register" class="btn btn-outline-danger btn-lg">Sign up to save your own!</a>
  </div>
  <% } %>
</div>
