<div class="container">
  <h2>Add an Item</h2>
  <form method="POST" action="/add-item">
    <div class="form-group">
      <label for="category">Type of Item</label>
      <select class="form-control" id="category">
        <option name="category1" id="category1">hat</option>
        <option name="category2" id="category2">scarf or shawl</option>
        <option name="category3" id="category3">coat, thick jumper, warm cardigan</option>
        <option name="category4" id="category4">top</option>
        <option name="category5" id="category5">skirt, dress, trousers</option>
        <option name="category6" id="category6">shoes</option>
        <option name="category7" id="category7">jewellery</option>
        <option name="category8" id="category8">bag</option>
      </select>
    </div>
    <div class="form-group">
      <label for="colour">Colour</label>
      <select class="form-control" id="colour">
        <option name="colour1" id="colour1">red</option>
        <option name="colour2" id="colour2">red-orange</option>
        <option name="colour3" id="colour3">orange</option>
        <option name="colour4" id="colour4">yellow-orange</option>
        <option name="colour5" id="colour5">yellow</option>
        <option name="colour6" id="colour6">yellow-green</option>
        <option name="colour7" id="colour7">green</option>
        <option name="colour8" id="colour8">blue-green</option>
        <option name="colour9" id="colour9">blue</option>
        <option name="colour10" id="colour10">blue-violet</option>
        <option name="colour12" id="colour12">violet</option>
        <option name="colour11" id="colour11">red-violet</option>
      </select>
    </div>
    <div class="form-group">
      <label for="url">URL</label>
      <input type="text" class="form-control" placeholder="Username" name="username">
    </div>
    <button type="submit" class="btn btn-outline-success">Add Item</button>
  </form>
</div>
<%# multi-select: exampleFormControlSelect1 and multiple class="form-control" %>
