<div class="container">
  <h1>All added Items</h1>
</div>
  <ul class="container">
    <div class="row">
      <% items.forEach((item) => { %>
        <li class"col-lg-2">
        <a href="/items/<%= item.id %>">
        <div class="item-image-div">
        <img src="<%= item.image %>">
        </div>
        </a>
        </li>
      <% }) %>
    </div>
  </ul>
