<ul class="container">
  <div class="row">
    <a href="/"><h3>...back to homepage</h3></a>
  </div>
  <div class="row">
    <% items.forEach((item) => { %>
      <li class"col">
      <a href="/items/<%= item.id %>">
      <div class="item-image-div" style="background-image: url('<%= item.image %>')">
      </div>
      </a>
      </li>
    <% }) %>

  </div>
</ul>
