<div class="container d-flex justify-content-end">
  <a href="/"><h3>...back to homepage</h3></a>
</div>
<div class="container last-container">
  <h4>add an item</h4>

  <form method="POST" action="/items">
    <div class="form-group">
      <label for="category">type of item</label>
      <select name="category" class="form-control" id="category">
        <option id="category1" value="1">hat</option>
        <option id="category2" value="2">scarf or shawl</option>
        <option id="category3" value="3">coat, jacket, or cardigan</option>
        <option id="category4" value="4">top</option>
        <option id="category5" value="5">trousers, skirt, dress, or onesie</option>
        <option id="category6" value="6">shoes</option>
        <option id="category7" value="7">jewellery</option>
        <option id="category8" value="8">bag</option>
      </select>
    </div>
    <div class="form-group">
      <label for="colour">colour</label>
      <select multiple class="form-control form-colours" name="colour" id="colour">
        <option id="colour1">red</option>
        <option id="colour2">orange</option>
        <option id="colour3">yellow</option>
        <option id="colour4">green</option>
        <option id="colour5">blue-green</option>
        <option id="colour6">blue</option>
        <option id="colour7">violet</option>
        <option id="colour8">pink</option>
        <option id="colour9">black</option>
        <option id="colour10">white</option>
        <option id="colour11">grey</option>
        <option id="colour12">brown</option>
        <option>multi-coloured</option>
        <option>other</option>
      </select>
    </div>
    <div class="form-group">
      <label for="pattern">pattern</label>
      <select class="form-control" id="pattern" name="pattern">
        <option>plain</option>
        <option>striped</option>
        <option>floral</option>
        <option>checkered</option>
        <option>geometric pattern</option>
        <option>writing</option>
        <option>hobby related</option>
        <option>symbol</option>
        <option>other</option>
      </select>
    </div>
    <div class="form-group">
      <label for="weather">weather</label>
      <select multiple name="weather" class="form-control" id="weather">
        <option>hot</option>
        <option>warm</option>
        <option>mild</option>
        <option>cold</option>
      </select>
    </div>
    <div class="form-group">
      <label for="image">url</label>
      <input type="text" class="form-control" placeholder="url address" name="image">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="special-occassion">
      <label class="form-check-label" for="specialOccassion" name="specialOccassion">special occasion item!</label>
    </div>
    <div class="sumbit-item">
      <button type="submit" class="btn btn-outline-success">add item</button>
    </div>
  </form>
</div>
<%# multi-select: exampleFormControlSelect1 and multiple class="form-control" %>
