<%# generate outfit and outfit generated - one page? %>
<div class="centered-content">
  <div class="container">
    <a href="" class="btn btn-outline-success btn-lg">Generate Outfit</a>
  </div>
</div>
