<ul class="container">
  <div class="row">
    <a href="/"><h3>...back to homepage</h3></a>
  </div>
  <% if (!locals.isLoggedIn) { %>
    <a href="/register" class="btn btn-outline-danger btn-lg btn-block">Sign up to create your own outfit!</a>
  <% } %>
  <div class="row">
    <% outfits.forEach((outfit) => { %>
    <div class="outfit-list">
      <p class="outfit-name"><%= outfit.name %></p>
      <a href="/outfits/<%= outfit.id %>">
      <% outfit.items.forEach((item) => { %>
        <div class="outfit-image-div" style="background-image: url('<%= item.image %>')">
        </div>
      <% }); %>
      </a>
    </div>
    <% }); %>
  </div>
</ul>
