<div class="container">
  <div class="container">
    <div class="row justify-content-end">
    <% if (!locals.isLoggedIn) { %>
      <a href="/register" class="btn btn-outline-danger btn-lg">Sign up to create an outfit!</a>
    <% } %>
    <% if (locals.isLoggedIn) { %>
      <a href="/outfits/new" class="btn btn-outline-success btn-lg">create an outfit</a>
    <% } %>
    </div>
  </div>
  <div class="row justify-content-end">
    <a href="/"><h5>...back to homepage</h5></a>
  </div>
  <div class="row justify-content-center">
    <% outfits.forEach((outfit) => { %>
    <a href="/outfits/<%= outfit.id %>">
    <div class="outfit-list">
      <p class="outfit-name"><%= outfit.name %></p>
      <% outfit.items.forEach((item) => { %>
        <div class="outfit-image-div" style="background-image: url('<%= item.image %>')">
        </div>
      <% }); %>
    </div>
    </a>
    <% }); %>
  </div>
</div>
