// n.b. import scss partials here

body {
  font-family: 'Helvetica', sans-serif;
}

ul {
  &.nav {
    justify-content: flex-end;
  }
}

li {
  list-style-type: none;
  &.home-button {
    margin-right: auto;
  }
}

.centered-content {
  text-align: center;
}

div {
  &.test {
    background-color: grey;
  }
  &.form-check {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

img {
  max-height: 300px;
}

#colour1 {
  color: red;
}
