// n.b. import scss partials here

body {
  // font-family: 'Roboto Slab', serif;
  font-family: 'Poppins', sans-serif;
}

.jumbotron-home {
  background-image: url('../assets/jumbo.jpg');
  background-size: cover;
  background-position: center;
}

h1 {
  &.display-4 {
    font-size: 3.8rem;
    color: #3644A5;
    font-weight: 800;
  }
}

.logged-in-nav {
    font-size: 25px;
    // margin-left: auto;
}

.dropdown-item {
  font-size: 20px;
}

.nav-outlier {
  margin-right: auto;
}

ul {
  &.header-nav {
    justify-content: flex-end;
  }
}

li {
  list-style-type: none;
}

.centered-content {
  justify-content: center;
}

div {
  &.index-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    height: auto;
  }
  &.form-check {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  &.outfit-image-div {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  &.outfit-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
  }
  &.item-image-div {
    display: flex;
    justify-content: center;
    width: 130px;
    height: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

img {
  max-height: 100px;
  width: auto;
  &.show-page-image {
    max-height: 250px;
  }
}

.container {
  &.last-container {
    padding-bottom: 30px;
  }
}

p {
  &.outfit-name {
    font-size: 25px;
  }
}

// .form-colours {
//   background-color: #e3dac9;
// }

#colour1 {
  color: #ff0000;
}

#colour2 {
  color: #ff7f00;
}

#colour3 {
  color: #ffff00;
}

#colour4 {
  color: #00ff00;
}

#colour5 {
  color: #008080;
}

#colour6 {
  color: #0000ff;
}

#colour7 {
  color: #a020f0;
}

#colour8 {
  color: #d02090;
}

.form-item {
  input[type="checkbox"] {
    display: none;
    &:checked + label {
      border-color: tomato;
    }
  }
  label {
    border: 2px solid transparent;
  }
}
